@model TrashCollectorProj.Models.Customer

@{
    ViewData["Title"] = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<style>
    #map {
        width: 100%;
        height: 400px;
    }
</style>
<script async defer src="@APIKey.APIURL">
</script>

<h1>Customer Location Details</h1>

<div>
    <h4>Customer Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickupDay)
        </dd>
    </dl>

</div>
<div>
    <h4>Customer Address</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>

<script>
    // Initialize and add the map
    function initMap() {

        var custLocation = { lat: @Model.Latitude, lng: @Model.Longitude };
        // The map, centered at custlocation
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 14, center: custLocation });
        var marker = new google.maps.Marker({ position: custLocation, map: map });
    }
</script>

<div id="map"></div>


