@model EmployeeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Dashboard</h1>

<div class="col-md-4">
    <form asp-action="Index">
        <div class="form-group">
            <label asp-for="SelectedDay" class="control-label"></label>
            <select asp-for="SelectedDay" asp-items="@Model.DayOfWeekList" class="form-control"></select>
            <span asp-validation-for="SelectedDay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Filter By Day" class="btn btn-info" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ExtraPickupDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPickupDate)
                </td>
                <td>
                    <a asp-action="ConfirmPickup" asp-route-id="@item.Id">Confirm this Pickup</a>
                    <a asp-action="CustomerDetails" asp-route-id="@item.Id">View Customer Details & Location</a>
                    <a asp-action="DeleteCustomer" asp-route-id="@item.Id">Remove Customer [TESTING PURPOSES]</a>
                </td>
            </tr>

        }
    </tbody>
</table>
