@model EmployeeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Dashboard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-group">
    <label asp-for="SelectedDay" class="control-label"></label>
    <select asp-for="SelectedDay" asp-items="@Model.DayOfWeekList" class="form-control"></select>
    <span asp-validation-for="SelectedDay" class="text-danger"></span>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].HasExtraPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ExtraPickupDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPickupDate)
                </td>
                @if (item.HasExtraPickup)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExtraPickupDate)
                    </td>
                    <td>
                        <a asp-action="ConfirmExtraPickup" asp-route-id="@item.Id">Confirm this Extra Pickup</a>
                    </td>
                }
                else
                {
                    <td>
                        No additional pickups scheduled at this time.
                    </td>
                    <td>
                    </td>
                }
                <td>
                    <a asp-action="ConfirmPickup" asp-route-id="@item.Id">Confirm this Pickup</a>
                    <a asp-action="DeleteCustomer" asp-route-id="@item.Id">Remove Customer [TESTING PURPOSES]</a>
                </td>
            </tr>

        }
        }
    </tbody>
</table>
